<div class="product-template" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-ProductSection data-section-type="product-template" data-enable-history-state="true">
  <section class="single-product" ignore-itemscop itemtype="http://schema.org/Product">

    <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | img_url: '1024x1024' }}">
    {% comment %}
      Get first variant, or deep linked one
    {% endcomment %}
    {% assign current_variant = product.selected_or_first_available_variant %}
    <div class="wrapper">
		{% comment %}
      <header class="content-util">
      {% include 'breadcrumb' %}
      </header>

      <header class="product-header">
        <div class="product-jump-container">
          {% comment %}
            If the user is on a collection product page (ie with /collections/collection-handle/products/product-handle)
            in the URL, we can show next/previous links to other products in the collection.
          {% endcomment %}
          {% if collection %}
            {% if collection.previous_product or collection.next_product %}
              <ul class="product-jump">

              {% if collection.previous_product %}
                {% capture prev_url %}{{ collection.previous_product}}#content{% endcapture %}
                <li class="previous">
                  {{ 'products.general.previous_product_html' | t | link_to: prev_url }}
                </li>
              {% endif %}

              {% if collection.next_product %}
                {% capture next_url %}{{ collection.next_product}}#content{% endcapture %}
                <li class="next">
                  {{ 'products.general.next_product_html' | t | link_to: next_url }}
                </li>
              {% endif %}

              </ul>
            {% endif %}
          {% endif %}
        </div>

      </header>
		{% endcomment %}
      <div class="grid">
        <div class="product-images thumbnails-placement-{{ section.settings.thumbnails_placement }}">
          <div class="images-container">
            <div class="featured {% if product.images.size == 1 %}full-width{% endif %}" id="ProductPhoto-{{ section.id }}" data-ProductPhoto>
              {%- assign image = current_variant.featured_image | default: product.featured_image -%}
              {%- assign image_width = image.width | append: 'x' -%}
              {%- assign image_highresolution = image | img_url: image_width -%}
              <div class="featured-container featured-container-{{ section.id }} {% if section.settings.product_featured_zoom_enable %}featured-zoom{% endif %}" data-zoom="{{ section.settings.product_featured_zoom_enable }}" data-lightbox="{{ section.settings.product_featured_lightbox_enable }}">
                <a href="{{ image_highresolution }}" class="card__image-container">
                  {% assign image_widths = '85,100,200,295,394,590,720,800' %}
                  {% include 'theme-rias' %}
                  <div class="productimage-limit" style="max-width:{{ image.width }}px">
                    <img id="ProductImage-{{ section.id }}"
                      data-ProductImage
                      data-id="{{ section.id }}"
                      src="{{ image | img_url: '590x' }}"
                      data-widths="[{{ image_widths }}]"
                      data-aspectratio="{{ image.aspect_ratio }}"
                      data-sizes="auto"
                      data-position="{{ image.position | minus: 1 }}"
                      data-max-width="{{ image.width }}"
                      width="590"
                      height="590"
                      alt="{{ image.alt | escape }}">
                    <noscript>
                      <img src="{{ image | img_url: '590x' }}" alt="{{ image.alt | escape }}">
                    </noscript>
                  </div>
                </a>
              </div>
            </div>
            {% comment %}
              Create thumbnails if we have more than one product image
            {% endcomment %}
            {% unless product.images.size == 1 %}
              <div class="thumbnails" {% if section.settings.thumbnails_placement == 'hide' %}style="display:none;"{% endif %}>
                <ul id="ProductThumbs-{{ section.id }}" data-ProductThumbs>

                  {% for image in product.images %}
                    {%- assign image_width = image.width | append: 'x' -%}
                    {%- assign image_highresolution = image | img_url: image_width -%}
                    {%- assign active_image = current_variant.featured_image | default: product.featured_image -%}
                    <li>
                      <a href="{{ image_highresolution }}" class="product-single__thumbnail--{{ section.id }} {% if image == active_image %}active{% endif %}" data-image-id="{{ image.id }}">
                        {% assign image_widths = '85,100,200,295,394,590,720,800' %}
                        {% include 'theme-rias' %}
                        <img class="lazyload"
                          data-default="{{ image | img_url: '100x' }}"
                          data-src="{{ image_url_pattern }}"
                          data-src-pattern="{{ image_url_pattern }}"
                          data-widths="[{{ image_widths }}]"
                          data-aspectratio="{{ image.aspect_ratio }}"
                          data-sizes="auto"
                          data-position="{{ forloop.index0 }}"
                          data-max-width="{{ image.width }}"
                          width="100"
                          height="100"
                          alt="{{ image.alt | escape }}"
                          loading="lazy">
                        <noscript>
                          <img src="{{ image | img_url: '100x' }}"
                               alt="{{ image.alt | escape }}"
                               width="100"
                               height="100"
                               loading="lazy">
                        </noscript>
                      </a>
                    </li>
                  {% endfor %}

                </ul>
              </div>
            {% endunless %}
          </div>
       
          
                  </div>


        <aside class="product-aside">
          <div class="purchase-box {% if section.settings.product_box_padding %}padding-box{% endif %}" itemprop="offers" ignore-itemscop itemtype="http://schema.org/Offer">
            <meta itemprop="priceCurrency" content="{{ shop.currency }}">
            <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

            {% comment %}
              ID addToCartForm is a selector for the ajax cart plugin
            {% endcomment %}
            <div id="AddToCartForm-{{ section.id }}" data-AddToCartForm class="form-vertical product-form product-form-{{ section.id }}" data-section="{{ section.id }}">
			
              {% form 'product', product %}
                <div class="product-title">
                  <h1 itemprop="name">
                    {% unless section_onboarding %}
                      {{ product.title }}
                    {% else %}
                      {{ 'homepage.onboarding.product_title' | t }}
                    {% endunless %}
                    
                   
                  
                  
				<span class="stamped-product-reviews-badge stamped-main-badge"
                      data-id="{{product.id}}"
                      data-product-title="{{product.title}}"
                      data-product-type="{{product.type}}"
                      style="display: block;"></span>
                  {% if section.settings.show_vendors %}
                    <span class="vendor">
                      {% unless section_onboarding %}
                        {{ product.vendor | link_to_vendor }}
                      {% else %}
                        {{ 'homepage.onboarding.product_vendor' | t }}
                      {% endunless %}
                    </span>
                  {% endif %}
                </div>

                <div class="selection-wrapper price product-single__price-{{ section.id }}">
                  {% unless section_onboarding %}
                    <span class="money" id="ProductPrice-{{ section.id }}" data-ProductPrice itemprop="price" content="{{ current_variant.price | money_without_currency | remove: ',' }}">{{ current_variant.price | money }}</span>
                  {% else %}
                    <span class="money" id="ProductPrice-{{ section.id }}" data-ProductPrice itemprop="price" content="{{ 1999 | money_without_currency | remove: ',' }}">{{ 1999 | money }}</span>
                  {% endunless %}
                  
                  {% if current_variant.compare_at_price > current_variant.price %}
                    <p id="ComparePrice-{{ section.id }}" data-ComparePrice style="display:block;">
                      <span class="money">{{ current_variant.compare_at_price | money }}</span>
                    </p>
                  {% else %}
                    <p id="ComparePrice-{{ section.id }}" data-ComparePrice style="display:none;">
                       <span class="money">{{ current_variant.compare_at_price | money }}</span>
                    </p>
                  {% endif %}
                </div>

                {%- comment -%}
                  Quantity Seletor
                {%- endcomment -%}
                {%- capture quantity_selector -%}
                  <div class="selector-wrapper quantity quantity-{{ section.id }}" {% unless current_variant.available or section_onboarding %}style="display:none;"{% endunless %}>
                    <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
                    <div class="quantity-select quantity-select-{{ section.id }}">
                      <div class="button-wrapper">
                        <button class="adjust adjust-minus">-</button>
                      </div>
                      <div class="input-wrapper">
                        <input type="text" class="quantity" value="1" min="1" pattern="[0-9]*" name="quantity" id="Quantity-{{ section.id }}" data-Quantity>
                      </div>
                      <div class="button-wrapper">
                        <button class="adjust adjust-plus">+</button>
                      </div>
                    </div>
                  </div>
                {%- endcapture -%}

                {% comment %}
                  Collection of variant options
                {% endcomment %}
                {% unless product.has_only_default_variant %}
                  <div class="selection-wrapper variant js">
                    <div class="variant-grid">
                      {% for option in product.options_with_values %}
                        <div class="selector-wrapper">
                          <label for="SingleOptionSelector-{{ forloop.index0 }}">
                            {{ option.name }}
                          </label>

                          <select class="single-option-selector single-option-selector-{{ section.id }}" id="SingleOptionSelector-{{ section.id }}-{{ forloop.index0 }}" data-name="{{ option.name }}" data-index="option{{ forloop.index }}">
                            {% for value in option.values %}
                              <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                                {{ value }}
                              </option>
                            {% endfor %}
                          </select>
                        </div>
                      {% endfor %}
                      {% if section.settings.product_quantity_enable %}
                        {{ quantity_selector }}
                      {% endif %}
                    </div>
                  </div>
                {% else %}
                  {% if section.settings.product_quantity_enable %}
                    <div class="selection-wrapper variant js">
                      {{ quantity_selector }}
                    </div>
                  {% else %}
                    {%- assign cart_buttons_margin = 'cart_buttons__margin' -%}
                  {% endif %}
                {% endunless %}

                {% comment %}
                  Primary variant select controlled JS
                {% endcomment %}
                <div class="selection-wrapper variant no-js">
                  <div class="selector-wrapper full-width">
                    <select name="id" id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" class="product-form__variants no-js">
                      {% for variant in product.variants %}
                        {% if variant.available %}
                          <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">
                            {{ variant.title }} - {{ variant.price | money_with_currency }}
                          </option>
                        {% else %}
                          <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="error cart-error cart-error-{{ section.id }}" style="display:none;"></div>
                <div id="CartButtons-{{ section.id }}" class="cart-buttons {% if cart_buttons_margin %}{{ cart_buttons_margin }}{% endif %} {% if section.settings.show_payment_button and current_variant.available %}cart-buttons__enabled{% elsif section_onboarding %}cart-buttons__enabled{% endif %}">
                  <div class="button-wrapper default-cart-button">
                    <button type="submit" name="add" id="AddToCart-{{ section.id }}" data-AddToCart class="default-cart-button__button {% unless current_variant.available or section_onboarding %}disabled{% endunless %}" {% unless current_variant.available %}disabled{% endunless %}>
                      <span id="AddToCartText-{{ section.id }}" data-AddToCartText>
                        {% unless current_variant.available or section_onboarding %}
                          {{ 'products.product.sold_out' | t }}
                        {% else %}
                          {{ 'products.product.add_to_cart' | t }}
                        {% endunless %}
                      </span>
                    </button>
                  </div>
                  <div id="PaymentButtonContainer-{{ section.id }}" class="payment-button__container">
                    {% if section.settings.show_payment_button %}
                      {{ form | payment_button }}
                    {% endif %}
                  </div>
                </div>
              {% endform %}
            
            </div>
			<img data-src="https://cdn.shopify.com/s/files/1/0048/8642/9785/files/trust_badge_payment_1.png?v=1579194173"
                 class="lazyload"
                 width="915"
                 height="100"
                 alt="Guaranteed Safe & Secure Checkout"
                 loading="lazy">
          </div>
          <div class="description rte" itemprop="description">
            <h2 style="text-align: center;"><b>Why you should buy from us</b></h2>
              <span>✔️ FREE Shipping<br>
                ✔️ In-Stock and Ships within 24-hours<br>
                ✔️ Safe Delivery<br>
                ✔️ 100% Money Back Guarantee</span><br><br>         
<!--             <div-mobile-only><div data-station-tabs-app data-station-tabs-product="{{ product.handle }}">{{ product.description }}</div></div> -->
             <br>
            <img data-src="https://cdn.shopify.com/s/files/1/0048/8642/9785/files/trust_badge_2.jpg?v=1577816400"
                 class="lazyload"
                 width="960"
                 height="222"
                 alt="Trust Badges"
                 loading="lazy"/>
            <br><br>
			<a href="#AddToCartForm-product-template">
                    <button type="submit" name="add" class="default-cart-button__button" style="margin-bottom:0px">
                      <span id="AddToCartText-Anchor" data-AddToCartText>
                        {% unless current_variant.available or section_onboarding %}
                          {{ 'products.product.sold_out' | t }}
                        {% else %}
                          {{ 'products.product.add_to_cart' | t }}
                        {% endunless %}
                      </span>
                    </button>
            </a>
            
					</div>
          {% if section.settings.show_share_buttons %}
            {% include 'social-share' %}
          {% endif %}
        </aside>
      </div>
      
        <div data-station-tabs-app data-station-tabs-product="{{ product.handle }}">{{ product.description }}</div>


      <div id="shopbooster-ali" product-id="{{ product.id }}" ></div>
			<a href="#AddToCartForm-product-template">
                    <button type="submit" name="add" class="default-cart-button__button" style="margin-bottom:0px">
                      <span id="AddToCartText-Anchor2" data-AddToCartText>
                        {% unless current_variant.available or section_onboarding %}
                          {{ 'products.product.sold_out' | t }}
                        {% else %}
                          {{ 'products.product.add_to_cart' | t }}
                        {% endunless %}
                      </span>
                    </button>
            </a>
    </div>
        </div>
  </section>

  {% comment %}
    Related products
  {% endcomment %}
  {% for block in section.blocks %}
    <div class="product-block-container" {{ block.shopify_attributes }}>
      {% case block.type %}
        {% when 'related_products' %}
          <div class="block-container">
            {% include 'related-products' %}
          </div>

        {% when 'product_collection'}
          {%- assign product_collection_count = '4' -%}
          {%- assign collection_count = '4' -%}
          <div class="simple-collection layout-{{ collection_count }}">
            <div class="wrapper">
              <header>
                {% if block.settings.title != blank %}
                  <h4>{{ block.settings.title | escape }}</h4>
                {% endif %}
                {% if block.settings.button_link != blank and block.settings.button_label != blank %}
                  <a href="{{ block.settings.button_link }}" class="button outline">{{ block.settings.button_label | escape }}</a>
                {% endif %}
              </header>
              <div class="product-container">
                {%- assign collection = collections[block.settings.collection] -%}
                {%- assign product_limit = collection_count -%}
                {% for product in collection.products limit: product_limit  %}
                  {% include 'product-grid-item' %}
                {% else %}
                  {% for i in (1..product_limit) %}
                    {% include 'placeholder-product-grid-item' %}
                  {% endfor %}
                {% endfor %}
              </div>
            </div>
          </div>
      {% endcase %}
    </div>
  {% endfor %}

</div>
{% unless product.empty? %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}

{% schema %}
{
  "name": "Product pages",
  "settings": [
    {
      "type": "select",
      "id": "thumbnails_placement",
      "label": "Thumbnails placement",
      "options": [
        {
          "value": "side",
          "label": "Side"
        },
        {
          "value": "below",
          "label": "Below"
        },
        {
          "value": "hide",
          "label": "Hide"
        }
      ],
      "default": "side"
    },
    {
      "type": "checkbox",
      "id": "show_payment_button",
      "label": "Show dynamic checkout button",
      "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "product_quantity_enable",
      "label": "Show quantity selector",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_vendors",
      "label": "Show vendor",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "product_featured_zoom_enable",
      "label": "Enable image zoom",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "product_featured_lightbox_enable",
      "label": "Enable image lightbox",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "product_box_padding",
      "label": "Show product details background",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show social sharing buttons",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "related_products",
      "name": "Related products",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Related Products"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "View more"
        }
      ]
    },
    {
      "type": "product_collection",
      "name": "Product Collection",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Simple collection"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "View more"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "id": "collection",
          "type": "collection",
          "label": "Collection"
        }
      ]
    }
  ]
}
{% endschema %}
